@charset "utf-8";
*{margin: 0;padding: 0;}
li{list-style: none;}
input,select,textarea{outline: none;border: none; background: none;}
textarea{resize: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}

/*头部*/

/*用户位置*/
.link span{font-family: "宋体"; font-weight: 500; padding: 0 10px;}
.link a{color: #000;}

/*左侧导航*/
.mList h3{font:14px/2 ""; padding-left: 1em;}
.mList h3 span{display: inline-block; width: 10px; margin-right: 8px;}
.mList dl{text-indent: 3em;}
.mList a{color: #FFF;font:12px/2 "微软雅黑"; display: block;}

/*右侧详细列表*/
.text {float: left; margin-left: 30px; display: inline;}
.text span{line-height: 30px; font-size: 14px; float:left; margin-right: 10px;}

/*表格*/
.table{border-collapse: collapse; width: 100%; font-size: 14px;}
.table th{background-color: #E8E8E8;}
.table th,
.table td{border: solid 1px #ccc; padding: 8px;}



















