.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}

